textarea#style-chrome-extension-textarea {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  width: 30vw !important;
  min-width: 400px !important;
  max-width: 100vw !important;
  height: 100% !important;
  z-index: 100000000000000000000 !important;
  overflow: auto !important;
  outline: none !important;
  padding: 10px !important;
  border: 0 !important;
  box-shadow: -1px 0 rgba(0, 0, 0, .18), inset 0 0 red !important;
  transition: box-shadow .5s 2s ease !important;
  color: #303942 !important;
  background: #fff !important;
  font: 11px Menlo, monospace !important;
  line-height: normal !important;
  direction: ltr !important;
  resize: none !important;
  text-align: left !important
}

textarea#style-chrome-extension-textarea[syncing="true"] {
  box-shadow: -1px 0 rgba(0, 0, 0, .18), inset -5px 0 red !important
}
